.a11yHidden {
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: polygon(0 0, 0 0, 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	white-space: nowrap;
}

.resetBoxModel {
	margin: 0;
	border: 0;
	padding: 0;
}

.resetList {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.noTextContent {
	display: inline-block;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.landing {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
	font-size: calc(10px + 2vmin);
	text-align: center;

	&.bg {
		color: #fff;
		min-height: 100vh;
		padding-top: 10vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.desc {
			font-size: 5rem;
			font-weight: bold;
			text-shadow: 1px 1px 1px #cc0b0b;
		}
	}
}

.contentWrap {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0 auto;
	text-align: center;

	h2 {
		margin-top: 100px;
		margin-bottom: 60px;

		& + .desc {
			margin-bottom: 50px;
		}
	}
}

:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.dimmed {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);

	display: flex;
	justify-content: center;
	align-items: center;
}
